body{
  height: 100%;
  width: auto;
  background-image: url('display.jpg');
  background-position: center;
  background-size: cover;
}

.container{
  background:-webkit-gradient(linear, 100% 37%, 37% 21%, from(#FFFFFF), to(#000000));
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  width: 600px;
  text-align: center;
  border-radius: 5%;
}

h1{
  font-family: 'Zen Kurenaido', sans-serif;
  color: red;
  font-size: 70px;
  text-align: center;
}

input{
  width: 350px;
  height: 50px;
  text-align: center;
  border-radius: 15px;
  font-size: 40px;
}

button{
  margin-left: 1%;
  border-radius: 150px;
  width: 95px;
  height: 50px;
  cursor: pointer;
  border: 2px solid black;
  font-size: 35px;
  text-align: center;
}

button:hover{
  border: 2px solid white;
  color: white;
  background-color: black;
}

.C{
  background-color: red;
}

.C:hover{
  background-color: darkred;
  color: white;
}

span{
  font-size: 60px;
  color: white;
}
